form {
  margin: 50px auto 0;
  padding: 20px;
  background-color: lightgray;
  text-align: left;
  overflow: hidden;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
}

input {
}
